<a href="https://colab.research.google.com/github/adityadhumal06/Python/blob/main/While_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while loop
# for loop

In [ ]:
# c programing
while(condition){
    code
}

In [ ]:
# Python
while condition:
  code

In [ ]:
number = int(input("Enter Your Number"))
i = 1
while i < 11:
  print(number * i)
  i += 1

Enter Your Number10
10
20
30
40
50
60
70
80
90
100

In [ ]:
# print table of 29

number = int(input("Enter Your Number "))
i = 1
while i < 11:
  print(number,'*',i,'=',number * i)
  i += 1

Enter Your Number 36
36 * 1 = 36
36 * 2 = 72
36 * 3 = 108
36 * 4 = 144
36 * 5 = 180
36 * 6 = 216
36 * 7 = 252
36 * 8 = 288
36 * 9 = 324
36 * 10 = 360

In [ ]:
number = int(input('Enter your number '))
i = 1
while i <= 10:
  print(number*i)
  i += 1

Enter your number 30
30
60
90
120
150
180
210
240
270
300

In [ ]:
 for i in range(1,10):
  print(i * i)

1
4
9
16
25
36
49
64
81

In [ ]:
# guessing game

import random

In [ ]:
random.randint(1,100)

31

In [ ]:
import numpy as np
jackpot = np.random.randint(1,100)


guess = int(input('Guess your number '))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('Enter Higher Number ')
  else:
    print('Lower Number')
  guess = int(input('Guess your number '))
  counter += 1
print("Correct Answer")
print('You took',counter,'Attempts')

Guess your number 20
Enter Higher Number
Guess your number 50
Enter Higher Number
Guess your number 70
Lower Number
Guess your number 60
Lower Number
Guess your number 55
Lower Number
Guess your number 52
Enter Higher Number
Guess your number 54
Lower Number
Guess your number 53
Correct Answer
You took 8 Attempts

In [ ]:
import random
number = random.randint(1,50)

guess = int(input('Enter Your Number '))
counter = 1
while guess != number:
  if guess < number:
    print('Higher Number')
  else:
    print('Lower Number')
  guess = int(input('Enter Your Number'))
  counter += 1

print('Correct')
print('You took',counter,'attempts')

Enter Your Number30
Higher Number
Enter Your Number50
Lower Number
Enter Your Number40
Higher Number
Enter Your Number45
Higher Number
Enter Your Number47
Correct
You took 5 attempts

In [ ]:
# For Loop

In [ ]:
# range function

In [ ]:
range(1,11)

range(1, 11)

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# sequence
# string
'kolkata'

'kolkata'

In [ ]:
['Kolkata','Mumbai',"Pune"]

['Kolkata', 'Mumbai', 'Pune']

In [ ]:
('Kolkata','Mumbai',"Pune")

('Kolkata', 'Mumbai', 'Pune')

In [ ]:
{'Kolkata','Mumbai',"Pune"}

{'Kolkata', 'Mumbai', 'Pune'}

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
for i in 'Bangalore':
  print(i)

B
a
n
g
a
l
o
r
e

In [ ]:
for i in [12345]:
  print(i)

12345

In [ ]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [20]:
# *
# * *
# * * *
# * * * *
# * * * * *

In [22]:
rows = int(input('Enter your number'))
for i in range(1,rows + 1):
  for j in range(0,i):
    print('*',end=' ')
  print('')

Enter your number10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [24]:
row = 6
for i in range(1,row):
  for j in range(0,i):
    print('$',end=' ')
  print('')

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [25]:
# break - continue - pass

In [26]:
# break

In [27]:
for i in range(1,11,1):
  if i == 5:
    break
  print(i)

1
2
3
4

In [28]:
# continue

for i in range(1,11,1):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [29]:

for i in range(1,11,1):
  if i == 5:
    continue
  print(i)
  print('Hello')

1
Hello
2
Hello
3
Hello
4
Hello
6
Hello
7
Hello
8
Hello
9
Hello
10
Hello

In [30]:
for i in range(1,12):
  pass